.main-header {
  
}

.video_column {
	background-color: #484746;
}

img.video {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

.video-header {
	color: #ede8d1;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
}

.vid-desc {
	color: #ede8d1; 
	text-align: center;
}
